@font-face {
  font-family: CenturyGothic;
  src: url("C:/Users/Ryan Schultz/AppData/Local/Microsoft/Windows/Fonts/Century_Gothic.ttf");
}

a {
  color: #428bca;
  text-decoration: none;
}

blockquote {
  background-color: rgba(128, 128, 128, 0.05);
  border-bottom-right-radius: 5px;
  border-left-width: 5px;
  border-top-right-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  margin-inline-start: 0px;
}





body {
  background-color: #fff;
  color: rgb(100, 100, 100);
  font-family: 'CenturyGothic', 'Lato', sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

p,
li,
span {
  font-size: 12px;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

li {
  p {
    margin: 0px;
  }
}



h1, .h1 {
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #428bca;
  font-family: inherit;
  font-weight: 300;
  margin: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 20px;
}

h1:after,
h2:after {
  border-bottom: none;
}

h1, .h1 {
  font-size: 26px;
}

h2, .h2 {
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 30px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 16px;
}

h5, .h5 {
  font-size: 12px;
  margin-top: 0px;
}

h6, .h6 {
  font-size: 10px;
}

hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: .5px dashed rgb(177, 177, 177);
  margin-bottom: 25px;
  margin-top: 25px;
}

ol {
  list-style-type: upper-roman;
}

table {
  th, td {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    line-height: 20px;
    padding: 8px;
    vertical-align: top;
  }
}

